<div class="container">
    <h1>RSA</h1>
    <div>
        <span>Выберите файл для шифрования</span>
        <br>
        <br>
        <input type="file" (change)="sendFile($event)">
    </div>

    <br>
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <span *ngIf="password==null || password==''">Введите пароль для шифровки и расшифровки</span>

    <br>
    <button (click)="encrypt()">Зашифровать</button>
    <br>
    <button color="primary" (click)="decrypt()">Расшифровать</button>

    <br>
    <span>Files</span>
    <br>
    <a href="{{file.message}}" *ngFor="let file of files">{{file.message}}</a>
</div>