.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    box-shadow: 2px 5px 7px 12px rgba(18, 120, 199, 0.35);
    margin: 0 auto;
    margin-top: 20px;
}

.files-container{
    display: flex;
    flex-direction: column;
}