<div class="container">
    <div style="display: flex;align-items: center;flex-direction: column;">
        <br>
        <span>Простые числа</span>
        <br>
        <div>
            <br>
            q=<input type="text" [(ngModel)]="p">
            <br>
            <br>
            p=<input type="text" [(ngModel)]="q">
        </div>
        <br>
        <button (click)="encrypt()">Зашифровать</button>
    </div>
    <br>
    <br>
    <div style="display: flex;align-items: center;flex-direction: column;">
        <span>Секретный ключ</span>
        <div>
            <br>
            d=<input type="text">
            <br>
            <br>
            n=<input type="text">
        </div>
        <br>
        <button>Расшифровать</button>
    </div>
</div>