<div class="container">
    <div>
        <button (click)="getNumbers()">Показать числа</button>
        <input type="number" [(ngModel)]="n">
    </div>
    <div style="display: flex;flex-direction: column;margin-top: 30px;">
        <span *ngFor="let number of fibNumbers">{{number}}</span>
    </div>
</div>